.mobile {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
  -webkit-overflow-scrolling: touch; 
  background: #770505c0; 
}

.mobile-content {
  max-width: 640px;
  padding: 20px 40px; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px; 
  font-size: 20px;
  font-weight: 600;
  font-family: 'cairo', sans-serif;
}

.mobile-content-items {
background: none;      /* إزالة الخلفية */
  border: none;          /* إزالة الحدود */
  color: white;          /* نفس لون النص */
  font-size: 15px;       /* حجم الخط */
         /* شكل المؤشر */
  padding: 0.5rem 0;     /* مسافة داخلية */
  width: 100%;           /* تمدد على طول القائمة */
  text-align: left;    
}

.mobile-content-selected{
color: #ffffff;
  font-weight: 600;




}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;   /* بدل 220px صارت كاملة تقريباً */
}

.search-icon {
  position: absolute;
  left: 15px;
  color: #ffcfcf;
  font-size: 18px;   /* كبّر الأيقونة شوي */
  pointer-events: none;
}

.search-input {
  width: 100%;
  padding: 12px 20px 12px 45px; /* زيادة الـ padding للارتفاع ومسافة الأيقونة */
  border: 1px solid #fff4f4;
  background-color: #dd0909fd;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;    /* زيادة حجم الخط */
  outline: none;
  transition: all 0.3s ease;
}

.search-input::placeholder {
  color: #ffcfcf;
  font-size: 16px;   /* نفس حجم الخط */
}

.search-input:focus {
  border-color: #ff0000;
  box-shadow: 0 0 10px rgba(255,0,0,0.5);
  background-color: #3f2424;
}

.primary-btn {
  max-width: 100%;
  margin: 20px auto 0 auto;
  padding: 10px 10px;
  background-color: #2b2525;
  color: white;
  border: none;

  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  display: block;
}

.primary-btn:hover {
  background-color: #2b2525;
}

/* زر الترجمة المدوّر */
.lang-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #f1efe6; /* أصفر */
  color: #990100;           /* لون الخط */
  font-weight: 700;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 20px; /* مسافة عن باقي العناصر */
  transition: all 0.3s ease;
}

.lang-btn:hover {
  background-color: #cec6ab; /* أصفر أغمق عند hover */
  transform: scale(1.1);
}



